// colors
$white: #FFF
$black: #242424
// breakpoints

//grid config
$total-columns: 4 
$grid-padding: 0px

//vertical rhythm config
$base-font-size: 16px 
$base-line-height: 20.8px
+establish-baseline()
//typography
$sans: Helvetica, Arial, sans-serif
$serif: Times, "Times New Roman", serif

//modular scale config
$ms-base: 16px 
$ms-ration: golden

