// colors
$white: #FFF
$black: #242424
$grey: #CCC

//grid config
$grids: 4 
$gutters: .2

//breakpoints
$basic: 900px


//vertical rhythm config
$base-font-size: 16px
$base-line-height: 19.2px 
+establish-baseline()

//typography
$sans: Helvetica, Arial, sans-serif
$serif: Times, "Times New Roman", serif

//modular scale config
$ms-base: 16px 
$ms-ration: golden

//whole site styling
.page
  +background-grid
header h2, .theteam, .theprocess, .hireus 
  padding: 0 1em 0 1em
h2
  text-transform: uppercase
section h2
  +grid-span(4,1)
  +padding-leader(1)
  +padding-trailer(1)
section p
  +grid-span(4,1)
  +adjust-font-size-to(ms(1)) 
  text-align: center
