header
  +grid-span(4,1)
header h2
  +grid-span(3,1)
  +adjust-font-size-to(ms(0))
.menu-button
  +grid-span(1,4)
  border: none 
  background: none
  color: $black
  margin: 0
  padding: 0
.menu-button, nav ul li
  font-family: $sans
  +adjust-font-size-to(ms(0))
nav
  display: none
  +grid-span(4,1)
nav ul li
  display: inline
  text-align: center
  +padding-leader(.5)
  +float-span(1)
  &:last-child
    +float-span(1, 'last')
.hero
  +grid-span(4,1)
  background-color: lightgrey
  background: url('http://www.placehold.it/250x250') top left no-repeat
  background-size: 100% 100%
.hero h1
  +grid-span(4,1)
  +adjust-font-size-to(ms(2))
  +leader(.5)
  +trailer(.5)
  text-align: center
  color: $white
