<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Pixel League</title>
  <link rel="stylesheet" href="public/stylesheets/main.css">
</head>
<body>
  <p>Hey I'm the HomePage whats up.</p>
  <script src="public/js/main.min.js"></script>
  <script src="//localhost:35729/livereload.js"></script>
</body>
</html>
