<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Pixel League</title>
  <link rel="stylesheet" href="public/stylesheets/main.css">
</head>
<body class="page">
  <header>
  <h2>The Pixel League</h2>
  <button class="menu-button">Menu</button>
  <nav>
    <ul>
      <li class="teamlink">The Team</li>
      <li class="processlink">The Process</li>
      <li class="hireuslink">Hire Us</li>
      <li>Blog</li>
    </ul>
  </nav>
  </header>
  <section class="hero">
    <h1>Handcrafted, mobile-first, responsive websites.</h1>
  </section>
  <section class="theteam">
    <h2>The Team</h2>

    <p>We are a small group of designers and developers, based out of Detroit, Michigan. 
    We believe that to produce the best work possible, you have to be hardworking, open, 
    and honest. We work with small or medium sized businesses to help them craft their 
    ideal online presense.</p>

    <div class="bio">
      <img class="lazy" src="http://www.placehold.it/250x250" width=250 height=250 alt="">
      <h2>Byron</h2>
      <p>Sit sint molestias repellendus vitae quia tempora, cupiditate ea quisquam omnis sint est accusamus temporibus sed dolore! Expedita autem nostrum consequatur quisquam numquam fugiat a repellendus? Error cupiditate sequi dolore.</p>
    </div>
    <div class="bio">
      <img class="lazy" src="http://www.placehold.it/250x250" width=250 height=250 alt="">
      <h2>Janina</h2>
      <p>Sit sint molestias repellendus vitae quia tempora, cupiditate ea quisquam omnis sint est accusamus temporibus sed dolore! Expedita autem nostrum consequatur quisquam numquam fugiat a repellendus? Error cupiditate sequi dolore.</p>
    </div>
    <div class="bio">
      <img class="lazy" src="http://www.placehold.it/250x250" width=250 height=250 alt="">
      <h2>Rob</h2>
      <p>Sit sint molestias repellendus vitae quia tempora, cupiditate ea quisquam omnis sint est accusamus temporibus sed dolore! Expedita autem nostrum consequatur quisquam numquam fugiat a repellendus? Error cupiditate sequi dolore.</p>
    </div>
  </section>
  <section class="theprocess">
    <h2>The Process</h2>
    <p>We'll work with you as much or as little as you'd like. We can take your idea and run with it, 
    or can loop you in every step of the way.</p>
  </section>
  <section class="hireus">
    <h2>Hire Us</h2>
    <p>Have a project that we can help with? Fill out this form or send us an email, you'll hear from us soon.</p>
    <a href="mailto:contact@pixelleague.com">contact@pixelleague.com</a>

    <form action="">
      <input type="text" name="name" placeholder="Your name">
      <input type="text" name="email" placeholder="Your email">
      <textarea id="" name="details" placeholder="How can we help?"></textarea>
      <input type="submit" value="Submit">
    </form>
  </section>
  <script src="public/js/main.min.js"></script>
  <script src="//localhost:35729/livereload.js"></script>
</body>
</html>
