<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Pixel League</title>
  <link rel="stylesheet" href="public/stylesheets/main.css">
</head>
<body class="page">
  <header>
  <h2>The Pixel League</h2>
  <button class="menu-button">Menu</button>
  <nav>
    <ul>
      <li>The Team</li>
      <li>The Process</li>
      <li>Hire Us</li>
      <li>Blog</li>
    </ul>
  </nav>
  </header>
  <section class="hero">
    <h1>Handcrafted, responsive, mobile-first websites.</h1>
  </section>
  <section class="theteam">
    <h2>The Team</h2>
    <p>We are a small group of designers and developers, based out of Detroit, Michigan. 
    We believe that to produce the best work possible, you have to be hardworking, open, 
    and honest. We work with small or medium sized businesses to help them craft their 
    ideal online presense.</p>
  </section>
  <script src="public/js/main.min.js"></script>
  <script src="//localhost:35729/livereload.js"></script>
</body>
</html>
